<?php

return array(
    'zfauthsaml' => array(
        'logoutReturn' => '',
        'dynamicLoginRedirect' => true,
        'staticLoginRedirect' => '',
        'autoProvisionRoles' => true,
    )
);
