<?php

return array(
    'zfauthsaml' => array(
        /**
         * Where should the user be taken after successful login?
         */
        'redirectAfterLogin' => '/',
        
        /**
         * Where should the user be taken after logout?
         */
        'redirectAfterLogout' => '/',
        
        /**
         * When set to true, the action that triggers redirection to login
         * will be passed as a redirect parameter and user will be taken
         * there after a successful login
         */
        'dynamicLoginRedirect' => true,
        
        /**
         * Settings to map your SAML data structure to the fields
         * needed by ZfAuthSaml
         */
        'firstNameField' => 'givenName',
        'firstNameFieldElement' => 0,
        
        'lastNameField' => 'sn',
        'lastNameFieldElement' => 0,
        
        'displayNameField' => 'cn',
        'displayNameFieldElement' => 0,
        
        'emailField' => 'mail',
        'emailFieldElement' => 0,
        
        'usernameField' => 'mail',
        'usernameFieldElement' => 0,
        
        'groupsField' => 'groups'
    )
);

